<html lang="en">

<head>
    <head>
        <th:block th:include="fragment :: reactHeader"></th:block>
    </head>
    <style type="text/css">
        .ant-input-affix-wrapper .ant-input {
            min-height: 0%;
            /* min-height: 100%; */
        }
        .site-name{
            color: white !important;
            font-weight: 500;
            font-size: medium;
        }
        #logo {
            overflow: hidden;
            float: left;
            height: 64px;
            line-height: 64px;
            text-decoration: none;
            white-space: nowrap;
        }
        .logo {
            width: 40px;
            float: left;
        }
     </style>
	<body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <!--
     This HTML file is a template.
     If you open it directly in the browser, you will see an empty page.

     You can add webfonts, meta tags, or analytics to this file.
     The build step will place the bundled scripts into the <body> tag.

     To begin the development, run `npm start` or `yarn start`.
     To create a production bundle, use `npm run build` or `yarn build`.
   -->
    <!--
  <script type="text/javascript" src="/static/js/bundle.js"></script>
  -->
    <th:block th:include="fragment :: appUser"></th:block>
    <div id="root">
        <div>
            <main>
                <div class="layout ant-layout">
                    <th:block th:include="fragment :: navbar"></th:block>

                    <div class="ant-layout-content" style="padding: 0px; margin-top: 64px;">
                        <br>
                        <br>
                        <div class="ant-row-flex ant-row-flex-center ant-row-flex-middle">
                            <div class="ant-col-xs-24 ant-col-sm-24 ant-col-md-18 ant-col-lg-12">
                                <div style="background: rgb(255, 255, 255); padding: 24px;">
                                    <div class="ant-row-flex ant-row-flex-center ant-row-flex-middle">
                                        <div class="">

                                            <div data-show="true" class="ant-alert ant-alert-success ant-alert-with-description">
                                                <i  style="margin-top:12px" class="anticon anticon-check-circle-o ant-alert-icon"></i>
                                                <span class="ant-alert-message">  <h1>Hello, <span th:text="${username}"></span></h1></span>
                                                <span class="ant-alert-description"> Your account is now active. click
																<a href="/login">here</a> to login..
															</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ant-row-flex ant-row-flex-center ant-row-flex-middle">
                            <div class="ant-col-xs-24 ant-col-sm-24 ant-col-md-18 ant-col-lg-12">
                                <div style="background: rgb(255, 255, 255); padding: 24px;">
                                    <div class="ant-row-flex ant-row-flex-center ant-row-flex-middle">
                                        <div class="">
                                            <a href="/">
                                                <img src="/assets/img/seekfunds-logo.orig.png" alt="logo" style="height: 143px; width: auto;">
                                            </a>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ant-layout-footer" style="text-align: center;">Property of enov8 Solutions</div>
                </div>
            </main>
        </div>
    </div>


</body></html>