<html lang="en">

<head>
    <head>
        <th:block th:include="fragment :: reactHeader"></th:block>
    </head>
    <style type="text/css">
        .ant-input-affix-wrapper .ant-input {
            min-height: 0%;
            /* min-height: 100%; */
        }
        .site-name{
            color: white !important;
            font-weight: 500;
            font-size: medium;
        }
        #logo {
            overflow: hidden;
            float: left;
            height: 64px;
            line-height: 64px;
            text-decoration: none;
            white-space: nowrap;
        }
        .logo {
            width: 40px;
            float: left;
        }
     </style>
	<body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var pk_key = /*[[${pk_key}]]*/ undefined;
        window.pk_key = pk_key;
        /*]]>*/
    </script>

    <!--
     This HTML file is a template.
     If you open it directly in the browser, you will see an empty page.

     You can add webfonts, meta tags, or analytics to this file.
     The build step will place the bundled scripts into the <body> tag.

     To begin the development, run `npm start` or `yarn start`.
     To create a production bundle, use `npm run build` or `yarn build`.
   -->
    <!--
  <script type="text/javascript" src="/static/js/bundle.js"></script>
  -->
<!--    <span  th:text="${error}"></span>-->
    <th:block th:include="fragment :: appUser"></th:block>
    <div id="root">
        <div>
            <main>
                <div class="layout ant-layout">
                    <div class="ant-layout-header" style="position: fixed; z-index: 1; width: 100%;">
                        <div class="logo">
                            <a id="logo" href="/">
                                <img alt="logo" th:src="@{/static/img/seekfunds-logo.png}" style="height: 30px; width: 30px;">
                                <span class="site-name">&nbsp;&nbsp;Seekfunds</span>
                            </a>
                        </div>
                        <div>
                            <div class="ant-row-flex ant-row-flex-space-between">
                                <div></div>
                                <div class="ant-row-flex ant-row-flex-end">
                                    <div class="ant-col-xs-0 ant-col-sm-24">
                                        <ul class="ant-menu ant-menu-dark ant-menu-root ant-menu-horizontal" role="menu" style="line-height: 64px;">
                                            <li th:href="@{/register}" class="ant-menu-item" role="menuitem">
                                                <a th:href="@{/register}">Create Campaign</a>
                                            </li>

                                            <li class="ant-menu-item" role="menuitem">About Us</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ant-layout-content" style="padding: 0px; margin-top: 64px;">
                        <br>
                        <div class="ant-row-flex ant-row-flex-center ant-row-flex-top">

                            <div th:if="${campaign == null}" class="ant-card ant-card-bordered ant-card-hoverable" style="width: 340px;"><div class="ant-card-cover">
                                <img alt="example" th:src="@{/assets/img/seekfunds-logo.orig.png}"  ></div><div class="ant-card-body">
                                <div class="ant-card-meta"><div class="ant-card-meta-detail">

                                    <div class="ant-card-meta-description">
                                        <b>
                                            <span  th:text="${error}"></span>
                                        </b>

                                    </div>

                                    <br/>
                                    <div class="ant-card-meta-description">back to seekfunds home</div></div></div></div>
                            </div>

                            <div th:if="${campaign != null && campaign.status.name() != 'RUNNING'}" class="ant-card ant-card-bordered ant-card-hoverable" style="width: 340px;"><div class="ant-card-cover">
                                <img alt="example" th:src="@{/assets/img/seekfunds-logo.orig.png}"  ></div><div class="ant-card-body">
                                <div class="ant-card-meta"><div class="ant-card-meta-detail">

                                    <div class="ant-card-meta-description">
                                        <b>
                                            <span  th:text="${error}"></span>
                                        </b>

                                    </div>

                                    <br/>
                                    <div class="ant-card-meta-description">back to seekfunds home</div></div></div></div>
                            </div>
                            <div class="ant-col-xs-24 ant-col-sm-24 ant-col-md-10 ant-col-lg-8"  th:if="${campaign != null}">
                                <div   style="background: url('https://s3.amazonaws.com/seekfunds-campaigns/campaign-119/4555a6f456d8451fb3829ed03fcc89ce.PNG')"
                                >
                                    <div class="ant-carousel">
                                        <div class="slick-slider slick-initialized">
                                            <div class="slick-list">
                                                <div class="slick-track" style="width: 592px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                                    <div data-index="0" class="slick-slide slick-active slick-current"
                                                         tabindex="-1" aria-hidden="false" style="outline: none; width: 592px;">
                                                        <div>
                                                            <div th:if="${campaign.campaignImage != null}">

                                                                sdsd

                                                            </div>
                                                            <div
                                                                th:if="${campaign.campaignImage == null}"
                                                                tabindex="-1" style="width: 100%; display: inline-block;">
                                                                <h3>&nbsp;</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ant-spin-nested-loading" style="background: rgb(255, 255, 255); padding: 24px; min-height: 280px;">
                                        <div class="ant-spin-container">
                                            <br>
                                            <div class="">
                                                <div class="ant-list-item-meta">
                                                    <div class="ant-list-item-meta-content">
                                                        <h4 class="ant-list-item-meta-title"  th:text="${campaign.name}"></h4>
                                                        <div class="ant-list-item-meta-description">
                                                            Posted in
                                                            <span th:text="${campaign.campaignCategory.name}"></span>
                                                             by
                                                            <span th:text="${campaign.postedByName}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ant-list-item-content">
                                                    <p  th:text="${campaign.description}">
                                                       </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ant-col-xs-24 ant-col-sm-24 ant-col-md-10 ant-col-lg-8" th:if="${campaign != null}">
                                <div>
                                    <div class="ant-spin-nested-loading" style="background: rgb(255, 255, 255); padding: 24px; min-height: 280px;">
                                        <form id="donateForm" name="donateForm" class="ant-form ant-form-horizontal">

                                            <div id="errorNotification">

                                            </div>


                                            <br/>

                                            <input type="hidden" id="campaignId"
                                                   th:value="${campaign.id}"
                                                   class="ant-input" >
                                            <div class="ant-row ant-form-item">
                                                <div class="ant-form-item-label"><label for="email" class="ant-form-item"
                                                                                        title="E-mail">E-mail</label></div>
                                                <div class="ant-form-item-control-wrapper ant-col-xs-24 ant-col-xs-offset-0 ant-col-sm-24 ant-col-sm-offset-0">
                                                    <div class="ant-form-item-control emailItem ">
                                                        <span class="ant-form-item-children">
                                                        <input name="email" id="email" type="text"
                                                              class="ant-input" value=""></span></div>
                                                </div>
                                            </div>


                                            <div class="ant-row ant-form-item">
                                                <div class="ant-form-item-label">
                                                    <label for="phoneNumber" class=""
                                                           title="Phone">Phone</label></div>
                                                <div class="ant-form-item-control-wrapper">
                                                    <div class="ant-form-item-control phoneItem">
                                             <span class="ant-form-item-children">

                                                   <div class="ant-select ant-select-enabled" style="width: 20%;">
                                                      <div class="ant-select-selection
                                                         ant-select-selection--single" role="combobox"
                                                           aria-autocomplete="list" aria-haspopup="true"
                                                           aria-expanded="false" tabindex="0">
                                                         <div class="ant-select-selection__rendered">
                                                            <div class="ant-select-selection-selected-value"
                                                                 title="+234" style="display: block; opacity: 1;">+234</div>
                                                         </div>
                                                         <span class="ant-select-arrow" unselectable="on"
                                                               style="user-select: none;"><b></b></span>
                                                      </div>
                                                   </div>
                                                   <input

                                                           type="text" id="phoneNumber" name="phoneNumber"
                                                           class="ant-input" style="width: 74%; margin-right: 3%;">

                                             </span>
                                                    </div>
                                                </div>
                                            </div>






                                            <div class="ant-row ant-form-item">
                                                <div class="ant-form-item-label">
                                                    <label for="amount" class="ant-form-item-required"
                                                           title="Amount">Amount</label></div>
                                                <div class="ant-form-item-control-wrapper">
                                                    <div class="amountItem ant-form-item-control">
                                             <span class="ant-form-item-children">

                                                   <div class="ant-select ant-select-enabled" style="width: 20%;">
                                                      <div class="ant-select-selection
                                                         ant-select-selection--single" role="combobox"
                                                           aria-autocomplete="list" aria-haspopup="true"
                                                           aria-expanded="false" tabindex="0">
                                                         <div class="ant-select-selection__rendered">
                                                            <div class="ant-select-selection-selected-value"
                                                                 title="NGN" style="display: block; opacity: 1;">NGN</div>
                                                         </div>
                                                         <span class="ant-select-arrow" unselectable="on"
                                                               style="user-select: none;"><b></b></span>
                                                      </div>
                                                   </div>
                                                   <input type="text" id="amount" name="amount"
                                                           class="ant-input" style="width: 74%; margin-right: 3%;">

                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ant-row ant-form-item">
                                                <div class="ant-form-item-label"><label class="" title="Comment">Comment</label></div>
                                                <div class="ant-form-item-control-wrapper">
                                                    <div class="ant-form-item-control commentItem"><span class="ant-form-item-children">
                                                        <textarea rows="4" name="comment" id="comment" placeholder="Please enter a comment!." class="ant-input" style="margin-top: 0px; margin-bottom: 0px; height: 69px;"></textarea></span></div>
                                                </div>
                                            </div>
                                            <div class="ant-row ant-form-item">
                                                <div class="ant-form-item-control-wrapper ant-col-xs-24 ant-col-xs-offset-0 ant-col-sm-24 ant-col-sm-offset-0">
                                                    <div class="ant-form-item-control">
                                             <span class="ant-form-item-children">
                                                <div class="ant-row-flex ant-row-flex-end">
                                                    <button  type="submit"
                                                             id="payWithPaystack" class="ant-btn ant-btn-primary ant-btn-lg" style="width: 100%;">

                                                        <span id="icon">
                                                        </span>

                                                        <span>Donate</span></button></div>
                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="ant-layout-footer" style="text-align: center;">Property of enov8 Solutions</div>
                </div>
            </main>
        </div>
    </div>

    <script th:href="@{/assets/js/vendor/jquery/jquery-2.0.3.min.js}"
            type="text/javascript" src="/assets/js/vendor/jquery/jquery-2.0.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<!--    <script th:href="@{/assets/js/jquery-validation-1.17.0/dist/jquery.validate.js}"
            type="text/javascript" src="/assets/js/jquery-validation-1.17.0/dist/jquery.validate.js"></script>-->
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script th:href="@{/assets/js/paystack/donate.js}"
            type="text/javascript" src="/assets/js/paystack/donate.js"></script>


</body></html>