<html lang="en">

<head>
    <head>
        <th:block th:include="fragment :: reactHeader"></th:block>
    </head>
    <style type="text/css">
        .ant-input-affix-wrapper .ant-input {
            min-height: 0%;
            /* min-height: 100%; */
        }
        .site-name{
            color: white !important;
            font-weight: 500;
            font-size: medium;
        }
        #logo {
            overflow: hidden;
            float: left;
            height: 64px;
            line-height: 64px;
            text-decoration: none;
            white-space: nowrap;
        }
        .logo {
            width: 40px;
            float: left;
        }
     </style>
	<body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <!--
     This HTML file is a template.
     If you open it directly in the browser, you will see an empty page.

     You can add webfonts, meta tags, or analytics to this file.
     The build step will place the bundled scripts into the <body> tag.

     To begin the development, run `npm start` or `yarn start`.
     To create a production bundle, use `npm run build` or `yarn build`.
   -->
    <!--
  <script type="text/javascript" src="/static/js/bundle.js"></script>
  -->
    <th:block th:include="fragment :: appUser"></th:block>
    <div id="root">
        <div>
            <main>
                <div class="layout ant-layout">
                    <div class="ant-layout-header" style="position: fixed; z-index: 1; width: 100%;">
                        <div class="logo">
                            <a id="logo" href="/">
                                <img alt="logo" th:src="@{/static/img/seekfunds-logo.png}" style="height: 30px; width: 30px;">
                                <span class="site-name">&nbsp;&nbsp;Seekfunds</span>
                            </a>
                        </div>
                        <div>
                            <div class="ant-row-flex ant-row-flex-space-between">
                                <div></div>
                                <div class="ant-row-flex ant-row-flex-end">
                                    <div class="ant-col-xs-0 ant-col-sm-24">
                                        <ul class="ant-menu ant-menu-dark ant-menu-root ant-menu-horizontal" role="menu" style="line-height: 64px;">
                                            <li th:href="@{/register}" class="ant-menu-item" role="menuitem">
                                                <a th:href="@{/register}">Create Campaign</a>
                                            </li>

                                            <li class="ant-menu-item" role="menuitem">About Us</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ant-layout-content" style="padding: 0px; margin-top: 64px;">
                        <br>
                        <div class="ant-row-flex ant-row-flex-center ant-row-flex-top">
                            <div class="ant-col-xs-24 ant-col-sm-24 ant-col-md-10 ant-col-lg-8">
                                <div>
                                    <div class="ant-carousel">
                                        <div class="slick-slider slick-initialized">
                                            <div class="slick-list">
                                                <div class="slick-track" style="width: 592px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                                    <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 592px;">
                                                        <div>
                                                            <div tabindex="-1" style="width: 100%; display: inline-block;">
                                                                <h3>1</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ant-spin-nested-loading" style="background: rgb(255, 255, 255); padding: 24px; min-height: 280px;">
                                        <div class="ant-spin-container">
                                            <br>
                                            <div class="">
                                                <div class="ant-list-item-meta">
                                                    <div class="ant-list-item-meta-content">
                                                        <h4 class="ant-list-item-meta-title">Heart Surgerry</h4>
                                                        <div class="ant-list-item-meta-description">Posted in Entertainment by elijahedih</div>
                                                    </div>
                                                </div>
                                                <div class="ant-list-item-content">
                                                    <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ant-col-xs-24 ant-col-sm-24 ant-col-md-10 ant-col-lg-8">
                                <div>
                                    <div class="ant-spin-nested-loading" style="background: rgb(255, 255, 255); padding: 24px; min-height: 280px;">
                                        <form id="donateForm" name="donateForm" class="ant-form ant-form-horizontal">
                                            <input type="hidden" id="campaignId"
                                                   class="ant-input" value="47">
                                            <div class="ant-row ant-form-item">
                                                <div class="ant-form-item-label"><label for="email" class="ant-form-item"
                                                                                        title="E-mail">E-mail</label></div>
                                                <div class="ant-form-item-control-wrapper ant-col-xs-24 ant-col-xs-offset-0 ant-col-sm-24 ant-col-sm-offset-0">
                                                    <div class="ant-form-item-control"><span class="ant-form-item-children">
                                                        <input type="text"
                                                               data-validation-help="Som help info..."
                                                               data-validation="email" id="email" name="email" class="ant-input" value=""></span></div>
                                                </div>
                                            </div>
                                            <div class="ant-row ant-form-item">
                                                <div class="ant-form-item-label"><label for="phone"
                                                                                        class="ant-form-item"
                                                                                        title="Phone Number">Phone Number</label></div>
                                                <div class="ant-form-item-control-wrapper ant-col-xs-24 ant-col-xs-offset-0
                                                ant-col-sm-24 ant-col-sm-offset-0">
                                                    <div class="ant-form-item-control">
                                             <span class="ant-form-item-children">
                                                <span class="ant-input-group-wrapper" style="width: 100%;">
                                                   <span class="ant-input-wrapper ant-input-group">
                                                      <span class="ant-input-group-addon">
                                                         <div class="ant-select ant-select-enabled" style="width: 80px;">
                                                            <div class="ant-select-selection
                                                               ant-select-selection--single" role="combobox" aria-autocomplete="list"
                                                                 aria-haspopup="true" aria-expanded="false" tabindex="0">
                                                               <div class="ant-select-selection__rendered">
                                                                  <div class="ant-select-selection-selected-value"
                                                                       title="+234" style="display: block; opacity: 1;">+234</div>
                                                               </div>
                                                               <span class="ant-select-arrow" unselectable="on"
                                                                     style="user-select: none;"><b></b></span>
                                                            </div>
                                                         </div>
                                                      </span>
                                                      <input type="text" id="phone"
                                                             data-validation="number"
                                                            class="ant-input" value="">
                                                   </span>
                                                </span>
                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ant-row ant-form-item">
                                                <div class="ant-form-item-label">
                                                    <label for="Amount" class="ant-form-item-required"
                                                           title="Amount">Amount</label></div>
                                                <div class="ant-form-item-control-wrapper">
                                                    <div class="ant-form-item-control has-success">
                                             <span class="ant-form-item-children">

                                                   <div class="ant-select ant-select-enabled" style="width: 20%;">
                                                      <div class="ant-select-selection
                                                         ant-select-selection--single" role="combobox"
                                                           aria-autocomplete="list" aria-haspopup="true"
                                                           aria-expanded="false" tabindex="0">
                                                         <div class="ant-select-selection__rendered">
                                                            <div class="ant-select-selection-selected-value"
                                                                 title="NGN" style="display: block; opacity: 1;">NGN</div>
                                                         </div>
                                                         <span class="ant-select-arrow" unselectable="on"
                                                               style="user-select: none;"><b></b></span>
                                                      </div>
                                                   </div>
                                                   <input
                                                           data-validation="number"
                                                           data-validation-allowing="float"
                                                           data-validation-decimal-separator=","

                                                   type="text" id="amountInput" name="amountInput"
                                                           class="ant-input" style="width: 74%; margin-right: 3%;">
                                            
                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ant-row ant-form-item">
                                                <div class="ant-form-item-label"><label class="" title="Comment">Comment</label></div>
                                                <div class="ant-form-item-control-wrapper">
                                                    <div class="ant-form-item-control"><span class="ant-form-item-children"><textarea rows="4" placeholder="Autosize height with minimum and maximum number of lines" class="ant-input" style="margin-top: 0px; margin-bottom: 0px; height: 69px;"></textarea></span></div>
                                                </div>
                                            </div>
                                            <div class="ant-row ant-form-item">
                                                <div class="ant-form-item-control-wrapper ant-col-xs-24 ant-col-xs-offset-0 ant-col-sm-24 ant-col-sm-offset-0">
                                                    <div class="ant-form-item-control">
                                             <span class="ant-form-item-children">
                                                <div class="ant-row-flex ant-row-flex-end">
                                                    <button  type="submit"
                                                             id="payWithPaystack" class="ant-btn ant-btn-primary ant-btn-lg" style="width: 100%;">

                                                        <span id="icon">
                                                        </span>

                                                        <span>Donate</span></button></div>
                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="ant-layout-footer" style="text-align: center;">Property of enov8 Solutions</div>
                </div>
            </main>
        </div>
    </div>

    <script th:href="@{/assets/js/vendor/jquery/jquery-2.0.3.min.js}"
            type="text/javascript" src="/assets/js/vendor/jquery/jquery-2.0.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<!--    <script th:href="@{/assets/js/jquery-validation-1.17.0/dist/jquery.validate.js}"
            type="text/javascript" src="/assets/js/jquery-validation-1.17.0/dist/jquery.validate.js"></script>-->
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script th:href="@{/assets/js/paystack/donate.js}"
            type="text/javascript" src="/assets/js/paystack/donate.js"></script>


</body></html>