<html>
<head>
    <th:block th:include="fragment :: header"></th:block>
</head>
<body>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="col-md-12">
                    <div class="text-center">
                        <a th:href="@{/}">
                            <img th:src="@{/assets/img/seekfunds-logo.png}" style="height:143px;width:auto" alt="logo">

                        </a>

                    </div>
                    <div class="page-header  text-center" style="margin-bottom:-5px">
                        <h1>403 &nbsp;

                        </h1>
                        <br>
                        <small>You have landed on a restricted page, Our Technical Team is looking into this. &#x2639;</small>
                    </div>
                    <br>
                    <div class="text-center">
                        <a th:href="@{/}">Click To Return Home</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

</body>

</html>