

<th:block th:fragment="navbarLoggedInSupper">
    <div class="navbar navbar-default navbar-static-top alert-primary" >
        <div class="container">
            <div class="navbar-header">



                <a class="navbar-brand" href="/" th:href="@{/}"><span style="color:white" th:text="#{app.title}"> </span>

                </a>

            </div>
            <div class="collapse navbar-collapse" id="navbarcollapse">


                <ul class="nav navbar-nav navbar-right">

                    <li >
                        <a  th:text=" ${#strings.capitalize(#authentication.principal.username)}"

                                class="not-active text-color-white"></a>
                    </li>
                    <li>
                        <a th:href="@{/home/logout}" href="/home/logout" style="">Logout</a>
                    </li>

                    <li>

                        <!-- <a id="menu-toggle" style="color:white">
                             <i class="fa fa-bars" aria-hidden="true"></i>
                         </a>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="navbarLoggedIn">
    <div class="navbar navbar-default navbar-static-top alert-primary" >
        <div class="container">
            <div class="navbar-header">

                <a id="menu-toggle" style="color:white;margin-top:auto;" class=" hoverMouse navbar-brand pull-left">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <span >&nbsp;&nbsp;&nbsp;</span>
                <a
                        style="margin-left:13px;"
                class="navbar-brand" href="/" th:href="@{/}"><span style="color:white" th:text="#{app.title}"> </span>

                </a>

            </div>
            <div class="collapse navbar-collapse" id="navbarcollapse">


                <ul class="nav navbar-nav navbar-right">

                    <li >
                        <a      th:text=" ${#strings.capitalize(#authentication.principal.username)}"

                                class="not-active text-color-white"></a>
                    </li>
                    <li>
                        <a th:href="@{/home/logout}" href="/home/logout" style="">Logout</a>
                    </li>

                    <li>

                       <!-- <a id="menu-toggle" style="color:white">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</th:block>

<th:block  th:fragment="sideBar">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a th:href="@{/admin}">
                    Admin
                </a>
            </li>
            <li sec:authorize="hasAuthority('super')"  >
                <a th:href="@{/super}">
                    Super
                </a>
            </li>
            <li sec:authorize="hasAuthority('user')" >
                <a href="/admin" th:href="@{/home}">Home</a>
            </li>
            <li>
                <a  href="/admin" th:href="@{/admin}">Users</a>
            </li>
            <li>
                <a  href="/admin/bulkpayments" th:href="@{/admin/bulkpayments}">Bulk Payments</a>
            </li>
            <li>
                <a href="/admin/bankaccount" th:href="@{/admin/bankaccount}">Bank Account</a>
            </li>
            <li>
                <a href="/admin/payment" th:href="@{/admin/payment}">Payment</a>
            </li>
            <li>
                <a href="/admin/queuetopay" th:href="@{/admin/queuetopay}">Queue To Pay</a>
            </li>
            <li>
                <a href="/admin/paymentpackage" th:href="@{/admin/paymentpackage}">Payment Package</a>
            </li>
            <li>
                <a href="/admin/bank" th:href="@{/admin/bank}">Bank</a>
            </li>
            <li>
                <a href="/admin/supportticket" th:href="@{/admin/supportticket}">Support Ticket</a>
            </li>
            <li>
                <a  href="/admin/paymentmethod" th:href="@{/admin/paymentmethod}">Payment Method</a>
            </li>
        </ul>
    </div>
</th:block>