
<th:block th:fragment="navbar">
    <div class="ant-layout-header" style="position: fixed; z-index: 1; width: 100%;">
        <div class="logo">
            <a id="logo" href="/">
                <img alt="logo" th:src="@{/static/img/seekfunds-logo.png}" style="height: 30px; width: 30px;">
                <span class="site-name">&nbsp;&nbsp;Seekfunds</span>
            </a>
        </div>
        <div>
            <div class="ant-row-flex ant-row-flex-space-between">
                <div></div>
                <div class="ant-row-flex ant-row-flex-end">
                    <div class="ant-col-xs-0 ant-col-sm-24">
                        <ul class="ant-menu ant-menu-dark ant-menu-root ant-menu-horizontal" role="menu" style="line-height: 64px;">
                            <li th:href="@{/register}" class="ant-menu-item" role="menuitem">
                                <a th:href="@{/register}">Create Campaign</a>
                            </li>

                            <li class="ant-menu-item" role="menuitem">About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="header">


    <meta charset="utf-8"/>
    <title th:text="#{app.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <base href="/" th:href="@{/}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{static/img/favicon/favicon.ico}">
    <link rel="icon" type="image/x-icon" th:href="@{static/img/favicon/favicon.ico}">
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{static/img/favicon/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{static/img/favicon/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{static/img/favicon/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{static/img/favicon/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{static/img/favicon/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{static/img/favicon/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{static/img/favicon/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{static/img/favicon/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{static/img/favicon/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192"  th:href="@{static/img/favicon/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32"th:href="@{static/img/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{static/img/favicon/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{static/img/favicon/favicon-16x16.png}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link  th:href="@{/assets/js/vendor/bootstrap/css/bootstrap.css}"  rel="stylesheet" type="text/css"/>
    <link  th:href="@{/assets/css/main.css}"  rel="stylesheet" type="text/css"/>
    <!--<link href="bootstrap-select.min.css" rel="stylesheet" type="text/css"/>-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</th:block>
<th:block th:fragment="reactHeader">

<meta charset="utf-8">
<title th:text="#{app.title}"></title>
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<base  th:href="@{/}">
<meta name="theme-color" content="#000000">
<link rel="manifest" href="/manifest.json">
<link rel="shortcut icon" type="image/x-icon" th:href="@{static/img/favicon/favicon.ico}">
<link rel="icon" type="image/x-icon" th:href="@{static/img/favicon/favicon.ico}">
<link rel="apple-touch-icon" sizes="57x57" th:href="@{static/img/favicon/apple-icon-57x57.png}">
<link rel="apple-touch-icon" sizes="60x60" th:href="@{static/img/favicon/apple-icon-60x60.png}">
<link rel="apple-touch-icon" sizes="72x72" th:href="@{static/img/favicon/apple-icon-72x72.png}">
<link rel="apple-touch-icon" sizes="76x76" th:href="@{static/img/favicon/apple-icon-76x76.png}">
<link rel="apple-touch-icon" sizes="114x114" th:href="@{static/img/favicon/apple-icon-114x114.png}">
<link rel="apple-touch-icon" sizes="120x120" th:href="@{static/img/favicon/apple-icon-120x120.png}">
<link rel="apple-touch-icon" sizes="144x144" th:href="@{static/img/favicon/apple-icon-144x144.png}">
<link rel="apple-touch-icon" sizes="152x152" th:href="@{static/img/favicon/apple-icon-152x152.png}">
<link rel="apple-touch-icon" sizes="180x180" th:href="@{static/img/favicon/apple-icon-180x180.png}">
<link rel="icon" type="image/png" sizes="192x192"  th:href="@{static/img/favicon/android-icon-192x192.png}">
<link rel="icon" type="image/png" sizes="32x32"th:href="@{static/img/favicon/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="96x96" th:href="@{static/img/favicon/favicon-96x96.png}">
<link rel="icon" type="image/png" sizes="16x16" th:href="@{static/img/favicon/favicon-16x16.png}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Seek Funds </title>
<link th:href="@{static/css/main.32afe13b.css}" rel="stylesheet">



<!--<link href="bootstrap-select.min.css" rel="stylesheet" type="text/css"/>-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</th:block>
<th:block th:fragment="baseJS">
    <script th:href="@{/assets/js/vendor/jquery/jquery-2.0.3.min.js}"
            type="text/javascript" src="/assets/js/vendor/jquery/jquery-2.0.3.min.js"></script>
    <script  th:href="@{/assets/js/vendor/bootstrap/js/bootstrap-3.3.4.min.js}"
            type="text/javascript" src="/assets/js/vendor/bootstrap/js/bootstrap-3.3.4.min.js"></script>
    <script type="text/javascript"
            src="/assets/js/vendor/node_modules/jquery-form-validator/form-validator/jquery.form-validator.min.js"
            th:src="@{/assets/js/vendor/node_modules/jquery-form-validator/form-validator/jquery.form-validator.min.js}"></script>
    <script type="text/javascript"
            src="/assets/js/vendor/node_modules/moment/moment.js}"
            th:src="@{/assets/js/vendor/node_modules/moment/moment.js}"></script>

    <script>
        $("#menu-toggle").click(function(e) {



            $("#wrapper").toggleClass("toggled");
        });
    </script>

</th:block>
<th:block th:fragment="appUser">

    <script th:inline="javascript">
        /*<![CDATA[*/
        var appUser = /*[[${appUser}]]*/ undefined;
        window.seekfundAppUser = appUser;
        /*]]>*/
    </script>


