<th:block th:fragment="navbarIndex">
    <nav class="navbar navbar-default navbar-fixed-top" >
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a th:with="title=#{app.title}"
                   th:href="@{/}"
                    style="color:#337CBB"
                   class="navbar-brand" th:text="${#strings.toUpperCase(title)}">
                    <img alt="Brand" >
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">


                    <li>
                        <a href="#ourView">Our View</a>
                    </li>
                    <li>
                        <a href="#hiw">How It Works</a>
                    </li>
                    <li   sec:authorize="hasAuthority('user')">
                        <a th:href="@{/home}" >Home</a>
                    </li>
                    <li   sec:authorize="hasAuthority('admin')">
                        <a th:href="@{/admin}" >Admin</a>
                    </li>
                    <li  sec:authorize="!isAuthenticated()" th:if="${countDownOver}">
                        <a th:href="@{/login}">Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/home/logout}"  >Logout</a>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</th:block>

<th:block th:fragment="indexCover">
    <div class="cover">

        <div class="cover-image" th:style="'background-image : url(' + @{/assets/img/bomtcash5.jpg} + ');'"></div>
        <br>
        <div class="container">
            <br>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 text-center">
                    <h2 class="text-inverse"><strong>Sign up, Make a donation and Get double the amount within 10 minutes to 14 Days.</strong></h2>
                    <p class="lead text-primary"><strong>Helping us Help each other</strong></p>
                    <br>
                    <br>



                </div>

            </div>
            <div th:if="${!countDownOver}" class="row text-center countdown-container" id="getting-started">

            </div>
            <br>
            <div class="row text-center" th:if="${countDownOver}">

                    <a th:href="@{/register}" type="button" class=" item-horizontal btn btn-primary " style="background-color: #337CBB;color:white">
                        Join Now
                    </a>
                    <a  href="#Plans" type="button" class=" item-horizontal btn btn-primary " style="background-color: #009688;color:white">
                        Our Plans
                    </a>

            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="indexOurView">
    <div class="section" id="ourView" style="background-color: white" >
        <div class="container">
            <div class="">
                <div class="col-md-4 col-md-offset-4">
                    <div class="text-center">
                        <h1>
                            <b>Our View</b>
                        </h1>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row col-md-offset-1 col-md-10 ">
                <div class="col-md-4 text-center" >
                    <img th:src="@{/assets/svg/1by2matrix.svg}" style="height:150px;">
                    <br>
                    <br>
                    <span>
                        Not promoting greed, but it is important for everyone to be able to afford
                        essentials and bomtcash uses a 1x2 matrix to help Nigerians achieve this.
                    </span>

                </div>
                <div class="col-md-4 text-center">
                    <img th:src="@{/assets/svg/payment-home.svg}" style="height:150px">
                    <br>
                    <br>
                    <span>
                        BOMTCASH is like the daily contributions we do in our homes and work places,
                            we have to keep giving to continue getting.
                    </span>
                </div>
                <div class="col-md-4 text-center" >
                    <img th:src="@{/assets/svg/understandsystem.svg}" style="height:150px">
                    <br>
                    <br>
                    <span>
                         It is of utmost importance that everyone understands they have to give back each time they collect
              to keep the system running.&nbsp;
                    </span>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="indexHowItWorks">
    <div class="section" id="hiw">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="text-center">
                        <h1>
                            <b>How It Works</b>
                        </h1>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="col-md-4 col-xs-12">

                        <div class="col-md-2 col-xs-1">
                            <div class=" numberCircle" style="font-size: 10px">
                                1
                            </div>
                        </div>
                        <div class="col-md-10 col-xs-11">

                            <span>Register</span>
                            <p><br></p>
                            <span>
                                 Members can choose from any of the available plans, and they are also expected to have this money available for transfer before signing up as one only has SIX hours to pay the matched recipient.
                                The recipient also has SIX hours to confirm receipt after proof of payment has been uploaded.
                            </span>
                    </div>

                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="col-md-2 col-xs-1">
                            <div class=" numberCircle" style="font-size: 10px">
                                2
                            </div>
                        </div>
                        <div class="col-md-10 col-xs-11">

                            <span >Donate</span>
                            <p><br></p>
                            <span>
                                Donate to a member assigned to you by the system.
                                <br>Upload a proof of payment.
                                <br>The paid member confirms the payment leaving you eligible to receive.
                                 
                            </span>
                        </div>

                    </div>
                    <div class="col-md-4 col-xs-12">

                        <div class="col-md-2 col-xs-1">
                            <div class=" numberCircle" style="font-size: 10px">
                                3
                            </div>
                        </div>
                        <div class="col-md-10 col-xs-11">

                            <span>Receive </span>
                            <p><br></p>
                            <span>After donation is confirmed, The system automatically assigns two other members, who will each pay you the joining amount.
                                <br>To sustain the system, re-commit on the same plan or choose another.
                                
                                </span>
                        </div>

                    </div>
                </div>
                </div>
            <br>
            <br>
            <br>
            <br>
            </div>
        </div>

</th:block>

<th:block th:fragment="quotation">
    <div class="section"
         th:style="'background-image : url(' + @{/assets/img/bomtcash5.jpg} + ');
         height:auto;width:auto;background-size:cover;
         box-shadow: 0px 3103px rgba(0,0,0,0.78) inset;
         position:relative;background-position:center;
         '"
         id="quote">
        <div class="container">
            <br>
            <div class="row">
                <div class="col-md-12 quote">
                    <i class="fa fa-quote-left"></i> What you have to do and the way you have to do it is incredibly simple.
                    <br>
                    <span class="text-theme">Whether you are willing to do it is another matter.</span>!
                    <i class="fa fa-quote-right"></i>
                    <br>

                    <small>Peter Drucker</small>
                </div>
            </div>
        </div>
        <br>




    </div>

</th:block>
<th:block th:fragment="indexPricing">
    <div class="section" id="Plans">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="text-center">
                        <h1>
                            <b>Plans</b>
                        </h1>
                    </div>

                </div>

            </div>
            <div class="row">
                <h4 class="text-center">Choose a plan today and be a part of the community</h4>
            </div>
            <br>
            <br>

            <div class="row col-md-offset-1 col-md-10">

                <div
                        th:each="package,iterationStatus  : ${#ctx.servletContext.getAttribute('paymentPackages')}"
                        class="col-md-4 col-xs-12">
                    <ul class="list-group" style="box-shadow: 0px 6px 6px 6px #888888;" >
                        <li  class="list-group-item item text-center">
                            <h2
                            th:text="${package.name}"
                            style="font-size: 20px;font-weight: lighter;"></h2>
                        </li>
                        <li class="list-group-item text-center"
                            th:text="${'&#8358;'+#numbers.formatDecimal(package.amountInKobo/100, 0, 'COMMA', 2, 'POINT')}"

                            style="font-size: 25px;background-color: #009688;color:white">
                           </li>
                        <li class="list-group-item text-center">
                            <i class="fa fa-1x fa-fw fa-check"></i>
                            <span th:text="'&nbsp;1 x '+${package.multiplier} + ' matrix'"></span>

                        </li>
                        <li class="list-group-item text-center">You get</li>
                        <li class="list-group-item text-center">
                            <i class="fa fa-1x fa-fw fa-check"></i>  &nbsp; Within 14 Days
                        </li>
                        <li
                        th:text="${'&#8358;'+#numbers.formatDecimal((package.amountInKobo/100 * package.multiplier), 0, 'COMMA', 2, 'POINT')}"


                                class="list-group-item  text-center" style="font-size: 25px;;background-color: #337CBB;color:white">

                        </li>
                        <li class="list-group-item item ">
                            <a   class="btn btn-block "
                                 th:href="@{/register}"
                                     style="font-size: 15px ">


                                <b>JOIN NOW</b>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

</th:block>

<th:block th:fragment="indexFooter">
    <div class="section" style="background-color: #242a30">
        <div class="container">
            <br>
            <br>

            <div class="row text-center">
                <img th:src="@{/assets/img/logo.png}"  style="height:60px" alt="logo" class="">
             </div>
            <div class="row" th:with="title=#{app.title}">
                <h1 style="color:#DEDEDE" class="text-center" th:text="${#strings.toUpperCase(title)}"></h1>
            </div>
            <div class="row text-center">
                <font color="#DEDEDE">© Copyright 2016</font>
            </div>
            <br>
            <br>
        </div>
    </div>

</th:block>


